<section class="section">
    <div class="container">
        <h1 class="title">Hello, Rails!</h1>
        <p class="subtitle">My first Rails website with <strong>Bulma</strong>!</p>
    </div>
</section>