
<section class="section">
    <div class="container">
      <div class="columns">
        <div class="column auto"></div>
        <div class="column is-half">
          <h1 class="title">Edit Book</h1>
          <%= render "form" %>
        </div>
        <div class="column auto"></div>
      </div>
    </div>
</section>